<!-- Language Switcher -->
<div class="dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-translate me-1"></i>
    <span id="current-lang">EN</span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="languageDropdown">
    <li><a class="dropdown-item" href="/"><i class="bi bi-flag me-2"></i>English</a></li>
    <li><a class="dropdown-item" href="/fr/"><i class="bi bi-flag me-2"></i>Français</a></li>
    <li><a class="dropdown-item" href="/uk/"><i class="bi bi-flag me-2"></i>Українська</a></li>
    <li><a class="dropdown-item" href="/ru/"><i class="bi bi-flag me-2"></i>Русский</a></li>
  </ul>
</div>
